---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <Header />
        <div style="text-align: center; padding: 20px;">
            <h1>Welcome to Ale111AleDev's Website</h1>
            <p>This is a simple static site built with Astro.</p>
            <p>Did you know that Astro is just html with some fancy stuff</p>
            <p>I hope that this wont be a pain to build</p>
        </div>
        <Footer />
    </body>
</html>
